[Distribution]
Distribution=@OS_DISTRO@
Release=@OS_RELEASE@

[Partitions]
RootSize=@ROOT_SIZE@
ESPSize=@ESP_SIZE@

[Output]
Format=raw_gpt
Bootable=yes
WithUnifiedKernelImages=no
Output=@ROOT_FS@

[Packages]
Packages=
  acpica
  asciidoctor
  bash-completion
  cmake
  dhclient
  fio
  gcc
  gdb
  git
  iniparser
  iproute2
  jq
  kmod
  libtraceevent
  libtracefs
  lsof
  make
  man-db
  neovim
  net-tools
  numactl
  openssh
  perl
  python
  strace
  sudo
  util-linux
  xfsprogs
  xmlto
  meson
  util-linux
  hwloc

[Validation]
Password=@ROOT_PASS@
