[Content]
Packages=
  ndctl
  openssh-client
  sshfs
  lsof
  strace
  ltrace
  fio
  build-essential
  vim
  autoconf
  automake
  libtool
  asciidoctor
  libkmod-dev
  libudev-dev
  uuid-dev
  uuid-runtime
  libjson-c-dev
  jq
  bash-completion
  libkeyutils-dev
  python3
  cmake
  pkgconf
  openssh-server
  gdb
  git
  hwloc
  ubuntu-minimal
  libiniparser-dev
  libtracefs-dev
  libtraceevent-dev
  libsystemd-dev
  systemd
  rsync
  meson
