[Content]
# To use pacman, run this first: pacman-key --init && pacman-key --populate
Packages=
  pacman
  archlinux-keyring
  acpica
  asciidoctor
  bash-completion
  cmake
  pkgconf
  dhclient
  diffutils
  efivar
  fio
  gcc
  gdb
  git
  iniparser
  inetutils
  iproute2
  iputils
  jq
  kmod
  libtraceevent
  libtracefs
  lsof
  make
  man-db
  neovim
  net-tools
  numactl
  pciutils
  openssh
  sshfs
  perl
  procps-ng
  python
  python-pip
  python-pipx
  python-prefixed
  strace
  sudo
  util-linux
  xfsprogs
  xmlto
  meson
  util-linux
  hwloc
  rsync
  systemd
  systemd-sysvcompat
  parted
  tinyxxd
  trace-cmd
  tree
  vi
