[Distribution]
Distribution=@OS_DISTRO@
Release=@OS_RELEASE@

[Partitions]
RootSize=@ROOT_SIZE@
ESPSize=@ESP_SIZE@

[Output]
Format=raw_gpt
Bootable=yes
WithUnifiedKernelImages=no
Output=@ROOT_FS@

[Packages]
Packages=
  openssh-clients
  openssh-server
  httpd
  ndctl
  daxctl
  cxl-cli
  jq
  sudo
  make
  gcc
  perl
  python
  libcurl-devel
  vim-enhanced
  net-tools
  iproute
  dhclient
  nmap-ncat
  lsof
  dnf
  git-core
  tar
  NetworkManager
  bash-completion
  passwd
  numactl
  numactl-libs
  fio
  fio-engine-dev-dax
  fio-engine-libaio
  fio-engine-libpmem
  strace
  ltrace
  man-db
  xfsprogs
  e2fsprogs
  acpica-tools
  autoconf
  asciidoc
  rubygem-asciidoctor
  xmlto
  automake
  libtool
  pkgconfig
  uuid
  libuuid
  libuuid-devel
  kmod-devel
  kmod-libs
  json-c
  json-c-devel
  keyutils-libs-devel
  systemd-devel
  iniparser
  iniparser-devel
  rsync
  diffutils
  parted
  keyutils
  hostname
  gdb
  tree
  htop
  nvme-cli
  cargo
  meson
  ninja-build
  vbindiff
  trace-cmd
  libtraceevent
  libtraceevent-devel
  libtracefs
  libtracefs-devel
  pciutils
  bind-utils
  systemd-resolved
  systemd-networkd
  perf
  hwloc
  systemd-boot-unsigned

[Validation]
Password=@ROOT_PASS@
