[Distribution]
Distribution=@OS_DISTRO@
Release=@OS_RELEASE@

[Partitions]
RootSize=@ROOT_SIZE@
ESPSize=512M

[Output]
Format=raw_gpt
Bootable=yes
Output=@ROOT_FS@

[Packages]
Packages=
  ndctl
  openssh-client
  lsof
  strace
  ltrace
  fio
  build-essential
  vim
  autoconf
  automake
  libtool
  asciidoctor
  libkmod-dev
  libudev-dev
  uuid-dev
  libjson-c-dev
  bash-completion
  libkeyutils-dev
  python3
  cmake
  openssh-server
  gdb
  git
  hwloc
  ubuntu-minimal

[Validation]
Password=@ROOT_PASS@
