[Content]
Packages=
  acpica
  asciidoctor
  bash-completion
  cmake
  dhclient
  fio
  gcc
  gdb
  git
  iniparser
  iproute2
  jq
  kmod
  libtraceevent
  libtracefs
  lsof
  make
  man-db
  neovim
  net-tools
  numactl
  openssh
  perl
  python
  strace
  sudo
  util-linux
  xfsprogs
  xmlto
  meson
  util-linux
  hwloc
