[Distribution]
Distribution=@OS_DISTRO@
Release=@OS_RELEASE@

[Partitions]
RootSize=@ROOT_SIZE@
ESPSize=@ESP_SIZE@

[Output]
Format=gpt_ext4
Bootable=yes
WithUnifiedKernelImages=no
Output=@ROOT_FS@

[Content]
Packages=
  asciidoctor
  autoconf
  automake
  bash-completion
  build-essential
  cmake
  fio
  gdb
  git
  hwloc
  libiniparser-dev
  libjson-c-dev
  libkeyutils-dev
  libkmod-dev
  libkmod2
  libndctl-dev
  libsystemd-dev
  libtool
  libtraceevent-dev
  libtracefs-dev
  libudev-dev
  lsof
  ltrace
  meson
  ndctl
  openssh-client
  openssh-server
  pkgconf
  python3
  strace
  uuid-dev
  vim
