# This successfully built Centos 10 on Arch Linux with mkosi 25.3 as of
# October 2025. This is not much and only manual testing but it is still
# vastly better than no starting point at all.

[Content]
Packages=
  openssh-clients
  openssh-server
  httpd
  ndctl
  daxctl
  cxl-cli
  jq
  sudo
  make
  gcc
  perl
  python
  libcurl-devel
  vim-enhanced
  net-tools
  iproute
  nmap-ncat
  lsof
  dnf
  git-core
  tar
  NetworkManager
  bash-completion
  passwd
  numactl
  numactl-libs
  fio
  fio-engine-libaio
  strace
  ltrace
  procps-ng
  man-db
  xfsprogs
  e2fsprogs
  acpica-tools
  autoconf
  asciidoc
  xmlto
  automake
  libtool
  pkgconfig
  uuid
  libuuid
  libuuid-devel
  kmod-devel
  kmod-libs
  json-c
  json-c-devel
  keyutils-libs-devel
  systemd-devel
  iniparser
  iniparser-devel
  rsync
  diffutils
  parted
  keyutils
  hostname
  gdb
  tree
  nvme-cli
  cargo
  meson
  ninja-build
  trace-cmd
  xxd
  libtraceevent
  libtraceevent-devel
  libtracefs
  libtracefs-devel
  pciutils
  bind-utils
  systemd-resolved
  perf
  hwloc
  systemd-boot-unsigned

