# TODO: move this file into some Ubuntu-specific directory and drop the
# "Distribution=" line.

[Match]
Distribution=ubuntu
# Until 22.04 jammy, there was no separate 'systemd-boot' package.
Release=!jammy

# Some mkosi versions do not automatically download this, even when Bootable=yes
[Content]
Packages=
  systemd-boot
